html,
body {
    height: 100%;
    font-family: open-sans, san-serif;
}


.navbar-custom {
    background-color: white;
    /*background-color: rgba(255, 165, 0, 0.6) !important;*/
}

.nav-link{
    font-size: 20px;
}


/*@media only screen and (max-width: 768px) {*/
/*  .mob-hide {*/
/*  }*/
/*}*/

@media(max-width: 767px) {
  .mob-hide {
    display:none;
  }
  .carousel-caption{
      /*top:25%;*/
      bottom:auto;
      background-color:transparent !important;
      /*color:purple;*/
      /*opacity:0%;*/
  }
  #logo,
#contact-details {
    border-bottom:groove 1px;
    border-color: #ffbb9b
}
#logo, #social-media{
    padding:10px;
}
  
}

.testimonials {
    text-align: center;
    padding: 10px;
}

.round {
    border-radius: 100%;
    height: 150px;
}


.carousel-item {
    max-height: 700px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    
}

.carousel-caption {
    justify-content:center;
    background-color:rgba(0,0,0,0.7);
    bottom:10%;
    
}

.cta {
    /*max-width:200px;*/
    color: white;
    /*color:rgb(255, 233, 0);*/
    background-color: rgba(255, 69, 0, 0.8);
    /*background-color: rgba(77, 0, 255, 0.9);*/
    /*background-color: rgba(211, 211, 211, 0.9);*/
    max-width:300px;
   
}

footer {
    background-color: #9be6ff;
}

#logo,
#contact-details {
    text-align: center;
    justify-content: center;
}


a {
    text-decoration: none;
    font-size: 16px;

}

/*style for rollover social media icons*/

#social-media {
    /*height:100px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*vertical-align:middle;*/
}

.facebook1 {
    height: 50px;
    width: 50px;
    background: #314d91 url(images/social-icons.png) no-repeat 0px 0px;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;

}

.facebook1:hover {
    background: #314d91 url(images/social-icons.png) no-repeat 0px -73px;
}

.twitter1 {
    height: 50px;
    width: 50px;
    background: #07beed url(images/social-icons.png) no-repeat 0px -127px;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;

}

.twitter1:hover {
    background: #07beed url(images/social-icons.png) no-repeat 0px -204px;
}

.linkdin1 {
    height: 50px;
    width: 50px;
    background: #1698E3 url(images/social-icons.png) no-repeat 0px -635px;
    -webkit-transition: All 0.3s ease-out;
    -moz-transition: All 0.3s ease-out;
    -o-transition: All 0.3s ease-out;
}

.linkdin1:hover {
    background: #1698e3 url(images/social-icons.png) no-repeat 0px -711px;
}


h1, h2, h3, h4, h5 {
    font-family: open-sans, san-serif;
}


p {
    font-family: 'Roboto', sans-serif;
}


/*Styling for about-us.html*/

.company-overview {
    background-image:url(images/bg1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    color:white;
    height:400px;
}

.challenge{
    background-image:url(images/about-us.jpg);
    min-height:300px;
    /*width:300px;*/
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    
}


.row{
    height:100%;
}

.wrapper-1{
    background-color:rgba(0,0,0,0.5);
    /*padding-left:5%;*/
    /*max-width:400px;*/
}

.wrapper-2{
    background-color:rgba(211, 211, 211, 0.5);
}

/*.col-4{*/
/*    height:100%;*/
/*}*/


/*.about-us{*/
/*    height:100%;*/
/*}*/

/*.center-image{*/
/*    text-align:center;*/
/*}*/


.subheads{
    /*color:purple;*/
    font-weight:bold;
    text-decoration:underline;
    padding:10px;
    /*padding:0px 50px;*/
    /*text-transform:uppercase;*/
}

.info-us{
    padding:0px 50px;
}

.square{
    height:150px;
    border:solid black 1px;
}

.blue-font{
    color:blue;
}


/*Our Services*/

#service-head{
    /*background-color:#9be6ff;*/
    background-image:url(images/our-services.jpg);
    text-align:center;
    height:250px;
}

#service-intro{
    background-color:rgba(211, 211, 211, 0.5);
    text-align:center;
    padding:20px;
}


/*Styling for Subscription-plan*/

.sub-plan{
    padding:20px;
}

.sub-center{
    text-align:center;
    font-weight: 600;
    margin:0px;
    padding:10px;
    border-bottom:solid black 1px;
    /*color: #888;*/
}

.services{
    border:solid 1px black;
    border-radius:10px;
}

.price{
    font-weight: 600;
    color: #00aff0;
    text-align:center;
    padding:10px;
}

.list-center{
    /*color: #00aff0;*/
    text-align:center;
    justify-content:center;
}


/*Styling for Contact Us*/

.contact-us{
    background-image:url("images/contact-us.jpg");
    height:700px;
}

.contact-info {
    text-align: center;
    /*margin:20px 0px;*/
    background-color:black;
    color:white;
}

.add-icon{
    font-size: 48px;
  color: #fda40b;
}

.form-row{
    margin:10px 0px;
}

#textarea-size{
    width:100%;
    height:120px;
}
